<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <!-------------------------------- Nav bar -------------------------------------->

      <nav class="navBox">
        <div class="topGreenBar">
          <p>Afterpay, Laybuy & Genoapay | Free Delivery*</p>
          <div class="topGreenBar-btnDiv">
            <% if (!user) { %>
            <button><a href="/auth">Sign In</a></button> /
            <button><a href="/auth">Register</a></button>
            <% } else { %> <button><a href="/logout">Logout</a></button> <% } %>
          </div>
        </div>
        <div class="subNavBar">
          <div class="navimgbox">
            <img src="/images/logo.png" alt="logo" />
            <h5 class="brandName">NAFSCARE</h5>
          </div>
          <div class="navLiBox">
            <ul>
              <li>
                <a href="/"><span style="color: #9ee281">HOME</span></a>
              </li>
              <li><a href="/shop">SHOP</a></li>
              <li><a href="/shop">FACE</a></li>
              <li><a href="/shop">BODY</a></li>
              <li><a href="/shop">STORES</a></li>
            </ul>
          </div>
          <div class="navCartDiv">
            <div class="navCartDiv-searchDiv">
              <input type="search" placeholder="" />
              <label for=""><img src="/images/searchIcon.png" alt="" /></label>
            </div>
            <a href="/cart"><img src="/images/cartIcon.png" alt="" /></a>
            <a href="/account"
              ><img width="25px" src="/images/icons/myAccount.png" alt=""
            /></a>
          </div>
        </div>
      </nav>

      <!-- ------------------------------- Cart page start------------------------------ -->
      <div class="shopping-cart">
        <!-- Title -->
        <div class="title">
          <span>Your Cart</span> <span><a href="/clearCart">Clear all</a></span>
        </div>

        <% totalPrice = 0 %>

        <div class="itemCartShowingWindow">
          <!-- item div -->
          <% products.map((product)=>{ %> <% if( products && products.length >
          0){ %>
          <div class="cart_item">
            <div class="cart_buttons">
              <a href="/removeCartItem"
                ><span class="delete-btn"
                  ><img src="/images/icons/deleteIcon.png" alt="" /></span
              ></a>
            </div>

            <div class="cart_image">
              <img
                class="prodImgCart"
                src="/images/<%= product.image1 %>"
                alt=""
              />
            </div>

            <div class="description">
              <span><%= product.name %></span>
              <span><%= product.description %></span>
            </div>

            <div class="cart_quantity">
              <!-- <button class="plus-btn" type="button" name="button">
                <img src="/images/icons/plusIcon.png" alt="" />
              </button> -->
              <span>Change Quantity &nbsp;</span>
              <input
                class="quanityCart"
                type="text"
                name=""
                value="<%= product.quantity %>"
              />
              <!-- <button class="minus-btn" type="button" name="button">
                <img src="/images/icons/minusIcon.png" alt="" />
              </button> -->
            </div>

            <div class="total-price">
              <span style="color: black">
                <%=product.individualPrice %> x <%= product.quantity %></span
              >
            </div>
          </div>
          <% }else{ %>
          <div class="cart_item">
            <h1>hey</h1>
          </div>
          <% } %> <% totalPrice += ( product.individualPrice * product.quantity)
          %> <% }) %>
        </div>
        <div class="feeDivCard">
          <ul class="feeDivCard-ul">
            <li>
              <h6>Total</h6>
              <span>Rs <%= totalPrice %></span>
            </li>
            <li>
              <h6>Delivery Charges</h6>
              <span>Rs 99.00</span>
            </li>
            <li>
              <h6>Net Total</h6>
              <span>Rs <%= eval( totalPrice + 99 ) %></span>
            </li>
          </ul>
        </div>
      </div>

      <!--------------------------------------Footer --------------------------------------  -->
      <!-- Site footer -->
      <div class="footerBox">
        <div class="footerWave">
          <img src="/images/footerwave.png" alt="" />
        </div>
        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img class="Footerlogo" src="/images/logo.png" alt="" />
                <h6>About</h6>
                <p class="text-justify">
                  At Nafscare, we believe that beauty should be accessible to
                  everyone. That's why we strive to offer competitive prices
                  without compromising on quality. Whether you're looking for
                  your favorite beauty brands or exploring new trends, we've got
                  you covered.
                </p>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li>
                    <a href="#">care</a>
                  </li>
                  <li>
                    <a href="#">face</a>
                  </li>
                  <li>
                    <a href="#">body</a>
                  </li>
                  <li>
                    <a href="#">hair</a>
                  </li>
                  <li>
                    <a href="#">Products</a>
                  </li>
                  <li>
                    <a href="">skin</a>
                  </li>
                </ul>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="http://scanfcode.com/about/">About Us</a></li>
                  <li>
                    <a href="http://scanfcode.com/contact/">Contact Us</a>
                  </li>
                  <li>
                    <a href="http://scanfcode.com/contribute-at-scanfcode/"
                      >Contribute</a
                    >
                  </li>
                  <li>
                    <a href="http://scanfcode.com/privacy-policy/"
                      >Privacy Policy</a
                    >
                  </li>
                  <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <hr />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                  Copyright &copy; 2024 All Rights Reserved by
                  <a href="#">Nafscare</a>. <br />
                  Designed by RANDOM FOREST TECHNOLOGY
                </p>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li>
                    <a class="facebook" href="#"
                      ><i class="ri-facebook-circle-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"
                      ><i class="ri-twitter-x-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="dribbble" href="#"
                      ><i class="ri-dribbble-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="linkedin" href="#"
                      ><i class="ri-linkedin-fill"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
