<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Product Page</title>

    <link rel="stylesheet" href="/stylesheets/product.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="searchDiv">
      <form id="searchForm">
        <input
          type="text"
          id="searchInput"
          name="q"
          onchange="newf()"
          placeholder="Search products..."
        />
      </form>
      <div id="searchResults"></div>
    </div>
    <nav class="navBox">
      <div class="topGreenBar">
        <p>Afterpay, Laybuy & Genoapay | Free Delivery*</p>
        <div class="topGreenBar-btnDiv">
          <% if (!user) { %>
          <button><a href="/auth">Sign In</a></button> /
          <button><a href="/auth">Register</a></button>
          <% } else { %> <button><a href="/logout">Logout</a></button> <% } %>
        </div>
      </div>
      <div class="subNavBar">
        <div class="navimgbox">
          <img src="/images/logo.png" alt="logo" />
          <h5 class="brandName">NAFSCARE</h5>
        </div>
        <div class="navLiBox">
          <ul>
            <li><span style="color: #9ee281">HOME</span></li>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/shop">FACE</a></li>
            <li><a href="/shop">BODY</a></li>
            <li><a href="/shop">STORES</a></li>
          </ul>
        </div>
        <div class="navCartDiv">
          <!-- <div class="navCartDiv-searchDiv"></div> -->
          <a href="/cart"> <img src="/images/cartIcon.png" alt="" /></a>
          <a href="/account"
            ><img width="25px" src="/images/icons/myAccount.png" alt=""
          /></a>
          <div class="menuDiv">
            <i style="scale: 2" id="menuBtn" class="ri-menu-line"></i>
          </div>
        </div>
      </div>
    </nav>
    <div class="dropDownNav">
      <ul>
        <li><a style="color: #9ee281" href="/home">HOME</a></li>
        <li><a href="/home">SHOP</a></li>
        <li><a href="/home">MY ACCOUNT</a></li>
      </ul>
      <i id="closeBtn" style="scale: 1.6" class="ri-close-circle-fill"></i>
    </div>
    <!-------------------------------- Nav bar -------------------------------------->

    <!-- ---------------------------- Product page starting ----------------------------- -->

    <div class="product">
      <!-- left-box -->
      <div class="p-left-box">
        <section id="gallery">
          <div class="container">
            <div id="image-gallery">
              <div class="row">
                <div class="image">
                  <div class="img-wrapper">
                    <a href="/images/<%= product.img_1 %>"
                      ><img
                        src="/images/<%= product.image1 %>"
                        class="img-responsive"
                    /></a>
                    <div class="img-overlay">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="image">
                  <div class="img-wrapper">
                    <a href="/images/<%= product.img_2 %>"
                      ><img
                        src="/images/<%= product.image2 %>"
                        class="img-responsive"
                    /></a>
                    <div class="img-overlay">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End row -->
            </div>
            <!-- End image gallery -->
          </div>
          <!-- End container -->
        </section>
      </div>
      <!-- right-box -->

      <form action="/addCart" id="formId" method="post"></form>
      <div class="p-right-box">
        <!-- title-box -->
        <div class="title-box">
          <input
            type="hidden"
            form="formId"
            value="<%= product.id %>"
            name="pid"
          />
          <!-- <button type="">submit</button> -->

          <h2><%= product.name %></h2>
          <h3><%= product.description %></h3>
          <!-- ____________rating box____________ -->
          <!-- <div class="rating-box">
                    <div class="rb-left">
                        <h5>5.6 
                            <i class="ri-star-s-fill"></i>
                        </h5>
                    </div>
                    <div class="rb-right">
                    <p>29 Ratings</p>
                    </div>
                </div> -->
        </div>
        <!-- price-box -->
        <div class="price-box">
          <div class="mrp-price">
            <h3>Rs <%= results1[0].price %></h3>
            <h4>MRP <span class="mrp">Rs <%= results1[0].mrp %></span></h4>
            <h3 class="off">(Rs. 499 OFF)</h3>
          </div>

          <h5>inclusive of all taxes</h5>

          <!-- size-box -->
          <div class="select-size">
            <h4>SELECT VARIANT</h4>
            <a href="">VARIANT CHART <i class="ri-arrow-right-s-line"></i> </a>
          </div>
          <div class="size-box">
            <% for(var i = 0; i< sizeN.length; i++){ %>
            <label class="btn btn-light size-btn">
              <input
                type="radio"
                form="formId"
                class="size-radio"
                id="size_s"
                name="vid"
                value="<%= sizeN[i] %>"
                <%= i===0 ? 'checked':''  %>
                hidden
              />

              <div class="size-circle"><%= sizeN[i] %></div>
            </label>
            <%}%>
          </div>
          <!-- quantity -->

          <div class="qty">
            <button onclick="dec()" class="qtyminus" aria-hidden="true">
              &minus;
            </button>
            <input
              type="number"
              form="formId"
              name="qty"
              id="qty"
              min="1"
              max="10"
              step="1"
              value="1"
            />
            <button class="qtyplus123" aria-hidden="true" onclick="inc()">
              &plus;
            </button>
          </div>

          <!-- payment-box -->
          <div class="payment-box">
            <div class="pyt-btn">
              <i class="ri-shopping-bag-line"></i>
              <button form="formId" type="submit">Add Cart</button>
            </div>

            <div class="pyt-btn">
              <button>Enquiry</button>
            </div>
          </div>
        </div>
        <!-- 4 line text -->
        <div class="text">
          <h5>100% Original Products</h5>
          <h5>Pay on delivery might be available</h5>
          <h5>Easy 14 days returns and exchanges</h5>
          <h5>Try & Buy might be available</h5>
        </div>
        <div class="product-details">
          <h4>PRODUCT DETAILS</h4>
          <h5>Yellow T-shirt for boys</h5>
          <h5>Solid</h5>
          <h5>Regular length</h5>
          <h5>Round neck</h5>
          <h5>Short, regular sleeves</h5>
          <h5>Knitted cotton fabric</h5>
        </div>
        <div class="product-details">
          <h4>Size & Fit</h4>
          <h5>Regular Fits</h5>
        </div>
        <div class="product-details">
          <h4>Material & Care</h4>
          <h5>Cotton</h5>
          <h5>Machine wash</h5>
        </div>
        <!------____________________ star rating ___________________________ -->
        <div class="star-rating">
          <div class="rating-hadline">
            <h4>RATINGS</h4>
            <i class="ri-star-s-fill"></i>
            <i class="ri-star-half-fill"></i>
          </div>
          <div class="buyers-rating">
            <div class="buyers-left">
              <h1>
                <%= overallRatingOutOf5 %>
                <i class="ri-star-s-fill"></i>
              </h1>
              <p><%= reviewCount %> verified buyers</p>
            </div>
            <div class="buyers-right">
              <div class="rating-line">
                <p>5 <i class="ri-star-s-fill"></i></p>
                <div class="line"></div>
                <p><%= starRatingsCount["5"] %></p>
              </div>
              <div class="rating-line">
                <p>4 <i class="ri-star-s-fill"></i></p>
                <div class="line2"></div>
                <p><%= starRatingsCount["4"] %></p>
              </div>
              <div class="rating-line">
                <p>3 <i class="ri-star-s-fill"></i></p>
                <div class="line3"></div>
                <p><%= starRatingsCount["3"] %></p>
              </div>
              <div class="rating-line">
                <p>2 <i class="ri-star-s-fill"></i></p>
                <div class="line4"></div>
                <p><%= starRatingsCount["2"] %></p>
              </div>
              <div class="rating-line">
                <p>1 <i class="ri-star-s-fill"></i></p>
                <div class="line5"></div>
                <p><%= starRatingsCount["1"] %></p>
              </div>
            </div>
          </div>
        </div>

        <!--___________________________________- customer reviews _______________________________-->
        <div class="customer-rev">
          <h4>Customer Reviews (<%= reviewCount %>)</h4>

          <% if (reviewFormVisible) { %>
          <form
            class="reviewForm"
            action="/submit-review/<%=productId %>"
            method="post"
          >
            <span class="reviewSpan">
              <textarea
                style="resize: none"
                class="reviewTxtArea"
                name="review"
              >
Write a review...</textarea
              >
              <div class="star-rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5"><i class="fas fa-star"></i></label>

                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4"><i class="fas fa-star"></i></label>

                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3"><i class="fas fa-star"></i></label>

                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2"><i class="fas fa-star"></i></label>

                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1"><i class="fas fa-star"></i></label>
              </div>

              <button class="reviewBtn">Submit</button>
            </span>
          </form>
          <% } %>

          <div class="customer-box">
            <% reviews.map((review)=>{ %>

            <div class="cr-star">
              <div class="star-5">
                <h6><%= review.rating %></h6>
                <i class="ri-star-s-fill"></i>
              </div>
              <p><%= review.review %></p>
            </div>
            <div class="cr-date">
              <p><%= review.customerName %></p>
              <p><%= review.timestamp.toDateString() %></p>
            </div>
            <% }) %>
          </div>
        </div>

        <!-- Product Code -->
        <div class="product-code">
          <h4><span class="product-text">Product Code:</span> 12345268</h4>
        </div>
      </div>
    </div>

    <!-- _____item-box html code________ -->
    <div class="item-box">
      <% for(var i = 0; i< itemCart.length; i++){ %>
      <div class="item">
        <div class="img">
          <img src="/images/<%= itemCart[i].image1 %>" alt="" />
        </div>
        <div class="img-text">
          <h3><%= itemCart[i].name %></h3>
          <p><%= itemCart[i].description %></p>

          <div class="mrp-price">
            <h3>Rs <%= itemCart[0].price[0].price %></h3>
            <h4>
              MRP <span class="mrp">Rs- <%= itemCart[0].price[0].mrp %></span>
            </h4>

            <h3 class="off">(Rs. 499 OFF)</h3>
          </div>
        </div>
      </div>
      <%}%>
    </div>

    <!--------------------------------------Footer --------------------------------------  -->
    <!-- Site footer -->
    <div class="footerBox">
      <div class="footerWave">
        <img src="/images/footerwave.png" alt="" />
      </div>
      <footer class="site-footer">
        <div class="container">
          <div
            style="display: flex; justify-content: space-around; padding: 3vmax"
            ;
            class="row"
          >
            <div style="width: 38vw" class="col-sm-12 col-md-6">
              <img class="Footerlogo" src="/images/logo.png" alt="" />
              <h6>About</h6>
              <p class="text-justify">
                At Nafscare, we believe that beauty should be accessible to
                everyone. That's why we strive to offer competitive prices
                without compromising on quality. Whether you're looking for your
                favorite beauty brands or exploring new trends, we've got you
                covered.
              </p>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li>
                  <a href="#">care</a>
                </li>
                <li>
                  <a href="#">face</a>
                </li>
                <li>
                  <a href="#">body</a>
                </li>
                <li>
                  <a href="#">hair</a>
                </li>
                <li>
                  <a href="#">Products</a>
                </li>
                <li>
                  <a href="">skin</a>
                </li>
              </ul>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li>
                  <a href="http://scanfcode.com/contact/">Contact Us</a>
                </li>
                <li>
                  <a href="http://scanfcode.com/contribute-at-scanfcode/"
                    >Contribute</a
                  >
                </li>
                <li>
                  <a href="http://scanfcode.com/privacy-policy/"
                    >Privacy Policy</a
                  >
                </li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr />
        </div>
        <div class="container">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 1vmax 8vmax 0 8vmax;
            "
            class="row"
          >
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">
                Copyright &copy; 2024 All Rights Reserved by
                <a href="#">Nafscare</a>. <br />
                Designed by RANDOM FOREST TECHNOLOGY
              </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li>
                  <a class="facebook" href="#"
                    ><i class="ri-facebook-circle-line"></i
                  ></a>
                </li>
                <li>
                  <a class="twitter" href="#"
                    ><i class="ri-twitter-x-line"></i
                  ></a>
                </li>
                <li>
                  <a class="dribbble" href="#"
                    ><i class="ri-dribbble-line"></i
                  ></a>
                </li>
                <li>
                  <a class="linkedin" href="#"
                    ><i class="ri-linkedin-fill"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="/javascripts/product.js"></script>
    <script>
      function handleStarClick(selectedStar) {
        // Loop through all star inputs
        for (let i = 1; i <= 5; i++) {
          const starInput = document.getElementById("star" + i);
          const starLabel = document.querySelector(
            'label[for="star' + i + '"] i'
          );

          // If the current star is less than or equal to the selected star, add the 'checked' class to its label
          if (i <= selectedStar) {
            starInput.checked = true;
            starLabel.classList.add("checked");
          } else {
            // Otherwise, remove the 'checked' class from its label
            starInput.checked = false;
            starLabel.classList.remove("checked");
          }
        }
      }
    </script>
    <script>
      function inc() {
        console.log("Increase");
        const q1 = parseInt(document.getElementById("qty").value);

        const q2 = q1 + 1;
        console.log(q2);
        document.getElementById("qty").value = q2;
      }

      function dec() {
        console.log("Decrease");
        const q1 = parseInt(document.getElementById("qty").value);

        const q2 = q1 - 1;
        console.log(q2);
        if (q2 <= 0) {
          document.getElementById("qty").value = 1;
        } else {
          document.getElementById("qty").value = q2;
        }
      }

      function size_button() {
        document.addEventListener("DOMContentLoaded", function () {
          var sizeRadios = document.querySelectorAll(".size-radio");
          sizeRadios.forEach(function (radio) {
            radio.addEventListener("change", function () {
              document.querySelectorAll(".size-btn").forEach(function (btn) {
                btn.classList.remove("active");
              });
              this.parentNode.classList.add("active");
            });
          });
        });
      }
      size_button();
    </script>
    <script>
      function newf(event) {
        //  event.preventDefault()
        var news = document.getElementById("searchInput").value;
        const searchTerm = news.trim();

        fetch(`/search/${searchTerm}`)
          .then((response) => response.json())
          .then((data) => {
            // Clear previous results
            searchResults.innerHTML = "";

            // Display search results
            data.forEach((product) => {
              const productElement = document.createElement("div");
              productElement.textContent = product.name;
              searchResults.appendChild(productElement);
            });
          });
        //.catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
